<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ruralhealth</display-name>
  <welcome-file-list>
    <welcome-file>Admin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.health.service.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewadmin</display-name>
    <servlet-name>Viewadmin</servlet-name>
    <servlet-class>com.health.service.Viewadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewadmin</servlet-name>
    <url-pattern>/Viewadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adddoctor</display-name>
    <servlet-name>Adddoctor</servlet-name>
    <servlet-class>com.health.service.Adddoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adddoctor</servlet-name>
    <url-pattern>/Adddoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aarogyaadmin</display-name>
    <servlet-name>Aarogyaadmin</servlet-name>
    <servlet-class>com.health.service.Aarogyaadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aarogyaadmin</servlet-name>
    <url-pattern>/Aarogyaadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addcase</display-name>
    <servlet-name>Addcase</servlet-name>
    <servlet-class>com.health.service.Addcase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addcase</servlet-name>
    <url-pattern>/Addcase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctoradmin</display-name>
    <servlet-name>Doctoradmin</servlet-name>
    <servlet-class>com.health.service.Doctoradmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctoradmin</servlet-name>
    <url-pattern>/Doctoradmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAdd</display-name>
    <servlet-name>CommentAdd</servlet-name>
    <servlet-class>com.health.service.CommentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAdd</servlet-name>
    <url-pattern>/CommentAdd</url-pattern>
  </servlet-mapping>
</web-app>